body {
    font-family: "Sans-serif", Times, serif;
}
.kev:first-letter {
        font-size: 300%;

	padding-right: 0px;

	position:relative;

	margin-left: 0px;

	}
        img {
    float: left;
    margin: 0 0 10px 10px;
}
.boxx{
    text-shadow: 2px 2px black;
    color: orange;
    font-style: italic;
    
}
a {
    color: orange;
    font-weight: bold; 
}
li {
   margin:0 0 10px 0;   
}
a:hover {
    color: green;
}
footer{
    font-size: 50%;
    text-align: center; 
}